/* CSS files add styling rules to your content */

body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Baloo Chettan 2', cursive;
}

header {
  background-color: black;
  border-top: #E4A4EE solid 5px;
  border-bottom: #17D3FF solid 5px;
  border-left: #FFAA7B solid 5px;
  border-right: #FEE975 solid 5px;
  margin: 20px;
}

img {
  margin: 10px;
  border: 4px solid #00FFCC
}